body,
html,
body * {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
}

.App {
  font-family: sans-serif;
  margin: auto;
  padding: 1em;
  text-align: center;
  min-height: 100vh;
  transition: background-color 0.2s;
}

.App.Dark {
  background-color: #282c34;
  color: white;
}

.App.Light {
  background-color: #FFFFFF;
  color: #000000;
}

.App.Grey {
  background-color: #555555;
  color: white;
}

button,
select {
  font-size: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0.5em 0.25em;
  padding: 0.25em 1em;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.secondary {
  background-color: transparent;
  border: 2px solid;
}